<style>
    /* Make the image fully responsive */
    .carousel-inner img {
      width: 100%;
      height: 100%;
    }
    </style>
  </head>
  <body>
  
  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ slider.image1.url }}">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="{{ slider.image2.url }}">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="{{ slider.image3.url }}">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>    
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>