{% extends 'store/frontend/main2.html' %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}

<div class="col-lg-6" style="margin: auto; padding:20px;">

    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-{{msg.tags}}">
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}

    <h5 style="text-align: center;">Login</h5>
    <hr>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-outline-primary btn-block">Login</button>
    </form>
    <hr>
    <a href="{% url 'password_reset' %}"><p>Forget Password</a> <a href="{% url 'register' %}"><button class="btn btn-sm btn-success"
                style="float:right">SignUp</button></a>
</div>

{% endblock %}