{% extends 'store/frontend/main2.html' %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}

<div class="col-lg-6" style="margin: auto; border:ridge; padding:20px;">

    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
             <legend class="border-bottom mb-4" style="text-align:center">Password Reset</legend>
              {{form|crispy}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info btn-block" type="submit">Reset Password</button>
        </div>
    </form>


</div>
{% endblock %}