<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    Hello manager,

    New custom order details:
    User: {{user}} Email: {{email}}.

    Date:
    {{date}}

    Size and Measurments:
    {{size}}

    Additional Items:
    {{extra_items}}

    Materials and Fabrics:
    {{materials}}

    Customization Details:
    {{custom_details}}

    <table>
        <tr><th>Heading</th></tr>
        
        <tr>
            
        </tr>
    </table>

</body>
</html>

